- @page_title = "Donation Gratefully Received"


%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Donation Received

%section.uk-padding.uk-margin-top
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1
        %h1.uk-margin-top-remove.uk-margin-bottom-remove Thank you for your donation
        %p.uk-text-large.uk-margin-top-remove We rely on donations from supporters like yourself to continue developing Dive Centre HQ
        %p We strongly believe in giving back to the community, and the open source approach behind Dive Centre HQ is just one of the ways we achieve this. There are no licensing costs to running Dive Centre HQ; simply find a hosting provider and install the software. If you're not technically savvy, you can get one of our partners to help you out with installation.
        %p

%section.section-purple
  .uk-container.uk-container-center.abstract-bg-img
    .uk-grid.uk-padding.uk-text-contrast
      .uk-width-1-1.uk-text-center
        %p.uk-text-large.text-width70
          Need a hand with installation? We offer a setup & configuration service in return for a £20 donation to the Dive Centre HQ Open Source project.
        %a.uk-button.uk-button-small.idz-button-outline.uk-margin-medium-top.uk-margin-large-bottom{:href => "mailto:support@divecentrehq.com"}
          Contact us about helping with installation
          %i.uk-icon-chevron-circle-right
