- @page_title = "Features"
- active_nav_item :features

%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Features and functionality in Dive Centre HQ

%section.uk-padding.uk-margin-top
  .uk-container.uk-container-center#pos
    .uk-grid
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-store
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Point of Sale:
          %span.uk-text-thin Inventory items, events, servicing and rentals
        %p Sell stock items, miscellaneous products, events, servicing and rentals from a single area. Ensure that all customers have paid for their courses / trips before leaving the store. Upsell products such as mask, fins and snorkel after an Open Water Course, and much more.
        .uk-grid.uk-margin-medium-top
          .uk-width-4-10
            = image_tag 'features-1.png', class: 'uk-align-left idz-bottom-adjustment5 idz-tablet-potrait-hidden uk-hidden-small'
          .uk-width-6-10.uk-width-medium-1-1.uk-width-small-1-1
            %h5 Integrated seamlessly with the entire product
            %p Every part of Dive Centre HQ talks to one-another. When booking a customer onto an event, you need to track whether they've made payment or requested kit hire; both items that attract additional cost. Seamless integration ensures nothing slips through the gaps and all invoices are itemised. You can instantly see on the customer information pages and event booking details whether the customer has paid - no more having to ask or check another system.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#events
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-clipboard
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Event Management:
          %span.uk-text-thin Scheduling for courses, trips and socials
        %p Manage customer and staff scheduling for all events happening in your store. Modify individual customer pricing based on upsells such as kit rental or lunch, then seamlessly take payment via the point of sale. All customer transactions are then linked to their event history so you can ensure no customer leaves before paying.
        .uk-grid.uk-margin-medium-top
          .uk-width-1-2.uk-width-small-1-1.uk-margin-medium-bottom
            .uk-width-1-10
              .icon-wrap.small.left
                %i.smico-list
            .uk-width-9-10
              %h5.uk-margin-small-bottom Staff & Customer Rosters
              %p.uk-nbfc.uk-margin-small-top Print a range of rosters including filtering by staff, customer or resource. See kit allocations for each event as well as assigned staff and additional information.
          .uk-width-1-2.uk-width-small-1-1.uk-margin-medium-bottom
            .uk-width-1-10
              .icon-wrap.small.left
                %i.smico-calendar
            .uk-width-9-10
              %h5.uk-margin-small-bottom Resource Calenders
              %p.uk-nbfc.uk-margin-small-top Identify upcoming events by resource such as a specific boat or classroom. Access the calendars from a desktop or mobile device to keep on track of events.
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .uk-width-1-10
              .icon-wrap.small.left
                %i.smico-www
            .uk-width-9-10
              %h5.uk-margin-small-bottom Online Booking
              %p.uk-nbfc.uk-margin-small-top Enable the online booking engine to allow customers access to the self-service portal. Take payment online and advertise courses on Social Media.
          .uk-width-1-2.uk-width-small-1-1
            .uk-width-1-10
              .icon-wrap.small.left
                %i.smico-open-letter
            .uk-width-9-10
              %h5.uk-margin-small-bottom Email Notifications & Smart Lists
              %p.uk-nbfc.uk-margin-small-top Notify customers before and after events. Smart lists enable targeted emails based on course requirements, customer certifications, sales and much more.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#crm
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-browser
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Customer Relationship Management:
          %span.uk-text-thin Love your customers
        %p Keep records of all customers, events they've been on, certifications and more. Easily upload supporting documents including copies of insurance certificates, medicals and waivers. Take your dive business further with smart customer filtering to support outbound sales.
        .uk-grid.uk-margin-large-top.uk-margin-medium-bottom
          .uk-width-1-4.uk-width-medium-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-zoom-plus
            %h4 Smart Lists
            %p Filter customers by certification, dive preferences, purchase history, then email them direct.
          .uk-width-1-4.uk-width-medium-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-star
            %h4 Certifications
            %p Keep up-to-date information on customer certifications, date of last dive and upcoming events.
          .uk-width-1-4.uk-width-medium-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-text-2
            %h4 Documents
            %p Store important documents such as medicals, waivers and incident reports against customer profiles.
          .uk-width-1-4.uk-width-medium-1-2.uk-width-small-1-1
            .icon-wrap
              %i.smico-wand
            %h4 Import/Export
            %p Move and process data however you want. Export to .csv in one-click and bulk update data.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#servicing
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-blueprints
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Servicing:
          %span.uk-text-thin Store and customer kit repairs
        .uk-grid.uk-margin-top
          .uk-width-6-10.uk-width-medium-1-1.uk-width-small-1-1
            %p Workflow-based servicing enables you to checkin customer or store kit for repair, track progress and raise an invoice at the end of the process. Need to replace an inflator hose or patch a tear? Easily notify the kit owner and add the item to the final invoice.
            .uk-grid.uk-margin-medium-top
              .uk-width-1-4.idz-100width-mp
                .uk-panel.uk-panel-box.idz-panel.grey.feature-ic-section
                  %i.uk-icon-user
                  %p receive kit from the customer
              .uk-width-1-4.idz-100width-mp
                .uk-panel.uk-panel-box.idz-panel.grey.feature-ic-section
                  %i.uk-icon-wrench
                  %p make repairs to the equipment
              .uk-width-1-4.idz-100width-mp
                .uk-panel.uk-panel-box.idz-panel.grey.feature-ic-section
                  %i.uk-icon-hand-o-up
                  %p notify about any issues
              .uk-width-1-4.idz-100width-mp
                .uk-panel.uk-panel-box.idz-panel.grey.feature-ic-section
                  %i.uk-icon-check-circle
                  %p complete and raise invoice
          .uk-width-4-10.idz-tablet-potrait-hidden.uk-hidden-small
            = image_tag 'features-2.png', class: 'uk-align-right uk-margin-top'


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#equipment-rental
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-shopping-bag
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Equipment Rental:
          %span.uk-text-thin Loan kit to customers and manage returns
        %p Keep track of all kit out for rental and to who. Monitor return dates and any overdue items for follow up. Seamlessly integrate with the Point of Sale module to take payment and automated emails inform customers if items are overdue.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#purchase-orders
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-barcode
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Purchase Orders:
          %span.uk-text-thin Order supplies and track delivery
        %p If you run low on inventory, easily create purchase orders and send them automatically to your supplier. Mark expected inbound dates and receive the stock smoothly. Any items not as described can be marked as rejected or noted as not received.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#data-migration
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-shuffle
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Data Migration:
          %span.uk-text-thin Bring your data from EVE, DSM or Excel
        %p Easily switch from another system and bring your data with you. The data migration wizard helps you import your data for use in Dive Centre HQ. Customers, product lists, sales history and more can seamlessly be imported.


      .uk-width-1-1
        %hr.uk-margin-large-top.uk-margin-large-bottom#developer-api
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          %i.smico-layers-2
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Developer API:
          %span.uk-text-thin Customise the product to fit your needs
        %p Interested in extending the Dive Centre HQ platform? Our Developer API enables custom integrations to happen and give you the power to create the perfect tool for your business. If you want to create custom booking websites or mobile check-in apps, simply connect it to the data backend of our platform.
