- @page_title = "MailChimp"


%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Add-ons: MailChimp
%section.uk-padding.uk-margin-top
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-6-10
        %h2 Send Better Email
        %p.uk-text-large Join more than 10 million people who use MailChimp to design and send 600 million emails every day.
      .uk-width-4-10
        = image_tag 'mailchimp-logo.png'
    %hr.uk-margin-large-top.uk-margin-large-bottom
    .uk-grid
      .uk-width-1-1.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          MailChimp:
          %span.uk-text-thin Email marketing at your fingertips
        %p ScubaTribe has tried and tested tools at prices hundreds less than comparable systems. Our invitation only, verified feedback requests require only 15 minutes of setup and as little as 10 minutes of your valuable time each month to maintain.

        .uk-grid.uk-margin-large-top.uk-margin-medium-bottom
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-store
            %h4 Flexible design for brands of any size
            %p Use our easy drag and drop designer to create campaigns that match your style. Want to build your own email? Check out our email template reference. MailChimp's collaboration options, like multi-user accounts and comments inside the editor, will speed up the design process and fit right into your workflow.
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-graph
            %h4 Advanced analytics to grow your business
            %p MailChimp offers advanced reporting feature you can access anywhere. Monitor sales and website activity with revenue reports, and inform your email content with purchase data using Google Analytics.

        .uk-grid.uk-margin-large-top.uk-margin-medium-bottom
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-open-letter
            %h4 Powerful automation for online sellers
            %p MailChimp’s robust marketing automation makes sure your emails get to the right people at the right time. Target customers based on behavior, preferences, and previous sales. Trigger a series of emails with a single API request. Use our built-in segmentation to build custom rules. Delight your fans with a free gift. And when you’re finished, get in-depth reporting insights to make every automated series you send better than the last.

          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-iphone
            %h4 Comprehensive mobile options that go with you
            %p Our suite of mobile apps let you check reports, add notes to a contact, or send a campaign —no matter where you are. Collect signups on a tablet with MailChimp Subscribe, online or off. Just restocked a popular product? Use MailChimp Snap to send a quick, photo-based email to a segment or list of subscribers. And never worry about how your emails look on various screens—all MailChimp templates and forms are mobile-ready right out of the box.

    %hr.uk-margin-large-top.uk-margin-large-bottom
    .uk-grid
      .uk-width-1-1
        %h4 How does Dive Centre HQ integrate with MailChimp?
        %p Simply add your MailChimp API key to Dive Centre HQ and then selectively sync and list of customers or suppliers. All designed to get out of your way and make technology do the work.
        %ul
          %li It's all online, so you can work when and where you want to. Just login with your PC, Mac or mobile.
          %li Your contacts are synced and categorised when you choose.
          %li Dive Centre HQ posts data to MailChimp only when you define.
        %p
          Find out more or try
          = link_to 'MailChimp', 'http://www.mailchimp.com'
          for free.


    .uk-panel-box.idz-panel.green.uk-margin-medium-top
      .uk-grid.uk-text-contrast
        .uk-width-1-1
          %h2.uk-margin-small-bottom.uk-text-contrast
            Connect MailChimp to Dive Centre HQ
          %p.uk-text-large.uk-margin-top-remove.idz-tablet-landscape-hidden Login to DCHQ and go to Add-ons. Follow the step-by-step process.
