- @page_title = "Privacy Policy"

%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Privacy Policy

%section.uk-margin-large-top
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Privacy Policy
    %p.uk-text-large We take data privacy very seriously and this document describe how we handle and manage any your data.

    %p To use Dive Centre HQ (including it’s website and application) you must agree to this privacy policy. When signing up, you agree to this policy. We collect the following information automatically and it is archived in system log files unless specified:  
    %ul
      %li e-mail addresses of those who communicate with us by e-mail
      %li IP addresses and page views for all users of the Dive Centre HQ Application and the Dive Centre HQ website and customer area.
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Disclosure, Data Ownership and Security
    %ul
      %li We will never sell or disclose e-mail addresses to any third party
      %li We will make every effort to maintain the security of all information stored within your Dive Centre HQ account
      %li We will comply with any legitimate requests from law enforcement agencies to disclose certain information to them to assist with their investigations
      %li Beanflow Limited own all software, databases and all rights to the Dive Centre HQ application.
      %li You retain all rights to all intellectual property you upload to the service.
      %li We will not disclose, sell, share or otherwise transfer any uploaded information with any third party except in the case of the sale of the Dive Centre HQ service as described below.
      %li In the event that the Dive Centre HQ service is sold to a third party, all customer data will be transferred along with the service. All customers will be informed in advance of the transfer, and the receiving party will be bound by the same same non disclosure terms detailed above
      %li We may occasionally send newsletters and other information to existing customers by email or post
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Server Access & Data Access
    %ul
      %li All Dive Centre HQ data is stored on our database servers or on our storage network and is only accessible to approved Beanflow Limited employees. In order to login to such systems, a secure key is required and access granted by the system administrators. All employees with access to this information are trained in ensuring their private key is kept secure and contains an appropriately secure passphrase which is adjusted when required.
      %li Any users with administrator access to your account can give access to any number of users and determine what level of access they should be granted.
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section.uk-margin-large-bottom
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Payment Card Details 
    %p Beanflow Limited does not store your payment card details on it's system and our staff do not have access to any of these details. 