- @page_title = "ScubaTribe"


%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Add-ons: ScubaTribe
%section.uk-padding.uk-margin-top
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-6-10
        %h2 Reviews and feedback as dependable as your dive gear
        %p.uk-text-large Offering dive operators a way of collecting and using feedback from your diving customers to help you improve services and show off your great reputation online.
      .uk-width-4-10
        = image_tag 'scubatribe-logo.png'
    %hr.uk-margin-large-top.uk-margin-large-bottom
    .uk-grid
      .uk-width-1-1.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          ScubaTribe:
          %span.uk-text-thin The dive operator review platform
        %p ScubaTribe has tried and tested tools at prices hundreds less than comparable systems. Our invitation only, verified feedback requests require only 15 minutes of setup and as little as 10 minutes of your valuable time each month to maintain.

        .uk-grid.uk-margin-large-top.uk-margin-medium-bottom
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-check
            %h4 Guaranteed authentic reviews
            %p Send individualized requests to your customers which avoid competitor exploitation and mistrust associated with open review platforms.
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-tp.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-open-letter
            %h4 Customizable feedback questionnaires
            %p Add specific questions to target areas of your business or use as a stand alone customer feedback collection tool.
        .uk-grid.uk-margin-large-top.uk-margin-medium-bottom
          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-download-2
            %h4 ScubaTribe® data collection application
            %p Use our bespoke application on any smart phone, tablet or PC to perform surveys, record dive and sea conditions, log trip/dive reports, collect feedback at trade shows, and much more... on and offline

          .uk-width-1-2.uk-width-small-1-1.idz-margin-bottom-ml
            .icon-wrap
              %i.smico-graph
            %h4 Powerful data analysis tools
            %p Slice and dice the data however you like using our state-of-the-art analysis and reporting software. Use the information you gain to improve services, focus your offerings and segment your customers as well as get insight into changing trends and areas of future growth.

    %hr.uk-margin-large-top.uk-margin-large-bottom
    .uk-grid
      .uk-width-1-1
        %h4 How does Dive Centre HQ integrate with ScubaTribe?
        %p We have created a seamless process for account creation on ScubaTribe and auto-requesting of reviews after a customer finishes a dive. All designed to get out of your way and make technology do the work.
        %ul
          %li It's all online, so you can work when and where you want to. Just login with your PC, Mac or mobile.
          %li Your reviews are automatically synced and categorised, letting you see your feedback in real­time.
          %li Dive Centre HQ posts data to ScubaTribe on successful event completion and payment.
        %p
          Find out more or try
          = link_to 'ScubaTribe', 'http://www.scubatribe.com'
          for free.


    .uk-panel-box.idz-panel.green.uk-margin-medium-top
      .uk-grid.uk-text-contrast
        .uk-width-1-1
          %h2.uk-margin-small-bottom.uk-text-contrast
            Connect ScubaTribe to Dive Centre HQ
          %p.uk-text-large.uk-margin-top-remove.idz-tablet-landscape-hidden Login to DCHQ and go to Add-ons. Follow the step-by-step process.
