- @page_title = "Terms and Conditions"

%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Terms and Conditions



%section.uk-margin-large-top
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Terms and Conditoins
    %p.uk-text-large This document governs your use of Dive Centre HQ. When signing up for an account you are required to read & agree to this document.
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove The Service
    %p Dive Centre HQ is a service operated by Beanflow Ltd, a UK registered company (09700456). Registered at A/10 Enterprise Court, Torpoint, Cornwall, PL11 2EH.
    %p Dive Centre HQ is a web-based software management tool. The service is provided on an "as is" and "as available" basis. 
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove General Terms
    %ul
      %li You must be 13 years of age or over to use Dive Centre HQ.
      %li You must be human. Accounts registered automatically by bots, scripts or otherwise will be terminated without notice.
      %li Your account information must be up-to-date at all times. This includes your e-mail address as well any other information gathered during the signup process.
      %li You understand and will not hold Beanflow Ltd responsible for any loss or damage incurred to you or your business by using Dive Centre HQ. This includes, but not limited to, loss of profits, goodwill, data or other intangible losses.
      %li Beanflow Ltd does not guarantee the service will meet your requirements, be available 100% of the time or be bug free.
      %li You are responsible for ensuring your login information is kept secure.
      %li Support is only provided to account holders and is only available by email and by telephone to paying customers.
      %li We reserve the right to remove any information which we consider to be unlawful, offensive, threatening, libellous, defamatory, pornographic or otherwise objectionable.
      %li We reserve the right to remove any information which violates the intellectual property of a third party.
      %li You may not use your account to send unsolicited e-mails or messages.
      %li Uploading of viruses to our service is forbidden and will result in the file being removed and possible account termination.However, we are sympathetic to users who upload an infected file by accident and will do our best to assist in these situations.
      %li Beanflow Ltd's total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation, restitution or otherwise arising in connection with the performance or contemplated performance of this agreement shall be limited to the amount of revenue received by Beanflow Ltd from the customer in the month previous to the month in which the liability was incurred, but in no event shall exceed £500 for any one event or series of events.
      %li The failure of Beanflow Ltd to enforce any right or provision of these terms & conditions shall not constitute a waiver of such right or provision. The terms and conditions constitutes the entire agreement between you and Beanflow Ltd and govern your use of Dive Centre HQ, superseding any prior agreements between you and Beanflow Ltd (including, but not limited to, any prior version of the terms and conditions).
      %li These terms & conditions shall be governed by and construed in accordance with English law. Both parties agree that the courts of England are to have non-exclusive jurisdiction to settle any disputes which may arise in connection with the terms & conditions.
      %li Beanflow Ltd reserve the right to change these terms & conditions at any time.
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Copyright Conditions
    %p The Dive Centre HQ interface and system is copyright © Beanflow Ltd. All Rights Reserved.
    %p You may not copy or duplicate any part of the interface or use the CSS documents or JavaScript files in another commercial application.
    %p All account information entered or uploaded into your account is owned by you and/or your company. This includes all repositories which are stored within Dive Centre HQ. 
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Pricing, Payment and Cancellation Terms 
    %ul
      %li Beanflow Ltd reserve the right to change pricing at any time. Notice of this shall be provided on the Dive Centre HQ website and the blog.
      %li The service is billed in advance on a monthly, quarterly or annual basis and is non-refundable. There will be no refunds for unused services or account downgrades.
      %li When upgrading or downgrades between packages, you will be charged the new amount from your next renewal date however the new limits will be applied immediately.
      %li When downgrading you will be unable to downgrade to a package where your existing data is greater than that allowed by the new package.
      %li You can cancel your account at any time by selecting 'Settings' and then 'Cancel My Account'.
      %li Accounts will be suspended if payment is not made within two days of account's renewal date. Accounts may be cancelled and all data removed from our systems if payment has not been received within of 90 days of account expiry.
      %li Once your account has been cancelled you will not be charged again.
      %li We generate a full invoice automatically on your renewal date. We will also attempt to debit the credit/debit card you have on your account. If payment fails, we will notify you by email and your account may be suspended pending a successful payment.
      %li Invoices can be downloaded and printed at any time through the Dive Centre HQ application.
      %li Issuing a chargeback against any payments taken by us will result in an immediate account suspension or cancellation.
      %li All account upgrades/downgrades are logged for security purposes.
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom

%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Refund Policy
    %p We do not a offer refunds on any of our packages (unless it is our mistake). You pay for what you use, you can cancel, upgrade or downgrade at any time. In exceptional circumstances, refunds are given at the discretion of the management. 
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom


%section
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Excessive Bandwidth Usage
    %p Each account is permitted to use the average usage for all accounts on the same package (as determined by Beanflow Ltd). If you exceed this, you will be notified by e-mail and we will work with you to resolve the situation. 
    .uk-width-1-1
      %hr.uk-margin-large-top.uk-margin-large-bottom


%section.uk-margin-large-bottom
  .uk-container.uk-container-center
    %h1.uk-margin-top-remove.uk-margin-bottom-remove Hosting & networking
    %ul
      %li We use a third party for hardware, networking and bandwidth provision.
      %li Our equipment is located in London, United Kingdom.
      %li All backups are stored off-site in an alternative data centre in London, United Kingdom.




